<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="css/stylesheet.css" rel="stylesheet"/>
</head>
<body>	

	{{>header}}
	<section class="wrapper--section">
		<div class="container">
			<h2 class="wrapper--section-header">{{title}}</h2>
			<div class="row">
				<div class="col-sm-3">
					<ul class="services">
						<li>{{description}}</li>					
					</ul>
				</div>
			</div>
		</div>
	</section>
	{{>footer}}

	</body>
</html>