<header class="header--wrapper_subMenu">
    <div class="container subMenu--wrap">
        <div class="logo">
            <a href="javascript:void(0);" class="logo_anchor">
                <img src="img/logo.png">
            </a>
            <h2>{{logo_name}}</h2>
        </div>
        <ul class="nav--right">
            <li class="close--menu"><a href="javascript:;" id="menuRemove">&times;</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="javascript:;">Amenities</a></li>
            <li><a href="javascript:;">Gallery</a></li>
            <li><a href="/help">help</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
        <div class="menu--bar">
            <div class="bar" id="menubar"></div>
        </div>
    </div>
</header>